<div class="row">
    <div class="row">
        <div class="col-12 topHeader"></div>
    </div>
    <div class="row">
        <div class="col-3">
            <i class="bi bi-facebook" style="font-size: 45px; color: rgb(88, 157, 181)"></i>
            <i class="bi bi-instagram" style="font-size: 45px; color: rgb(88, 157, 181)"></i>
        </div>
        <div class="col-6">
            <img src="https://editorialkokinos.com/assets/front/img/logo.svg" alt="" class="img-fluid" style="max-height: 70px;"/>
        </div>
        <div class="col-3">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
        </div>
    </div>
</div>
