body {
    background-color: red !important;
}

.topHeader {
    background-image: url(/assets/front/img/top.png) no-repeat;
    background-size: cover;
    margin-top: -15px;
}

.customCard img{
    max-height: 10px;
}